@import "tailwindcss";

@keyframes fadeIn { 
    from { opacity: 0; } 
    to { opacity: 1; } 
  }
  
  @keyframes spin-slow { 
    from { transform: rotate(0deg); } 
    to { transform: rotate(360deg); } 
  }
  
  .animate-fadeIn { 
    animation: fadeIn 1s ease-out; 
  }
  
  .animate-spin-slow { 
    animation: spin-slow 8s linear infinite; 
  }